<p id="notice"><%= notice %></p>

<h1 class='page__title'> <%= I18n.t('produce_item.index.title') %> </h1>

<table class='produce-table'>
    <% @produce_items.find_each do |produce|  %>
      <tr>
        <td class='produce-table__name'><%= I18n.t("produce_items.names.#{produce.name}").capitalize %></td>
        <td class='produce-table__category'><%= I18n.t("produce_items.categories.#{produce.category}") %></td>
        <td class='produce-table__link_action'><%= link_to I18n.t('action.show'), produce, class: 'link_action' %></td>
      </tr>
    <% end %>
</table>
