<p id="notice"><%= notice %></p>

<h1>Produce</h1>

<table>
    <% @produce_items.find_each do |produce|  %>
      <tr>
        <td><%= I18n.backend.translations[:'pt-BR'].key produce.name %></td>
        <td><%= produce.readable_name %></td>
        <td><%= produce.category %></td>
        <td><%= link_to 'show', produce %></td>
      </tr>
    <% end %>
</table>
