<div class="content background-color-blue">
  <h1 class="page__title banner-small m-bottom-m"> <%= formatted_month_name(@item_season.month_index).capitalize %> </h1>

  <div class="nav-actions-holder p-sides-m">
    <h4><%= link_to I18n.t("action.back").upcase, :back, class: "link_action back" %></h4>
    <div class="nav-actions-months">
      <%= link_to item_season_path(@item_season.month_index == 1 ? 12 : @item_season.month_index - 1) do %>
        <i class="fa-solid fa-arrow-left-long"></i>
      <% end %>
      <h4 class="color-yellow p-sides-s"><%= I18n.t("action.month") %></h4>
      <%= link_to item_season_path(@item_season.month_index == 12 ? 1 : @item_season.month_index + 1) do %>
        <i class="fa-solid fa-arrow-right-long"></i>
      <% end %>
    </div>
  </div>

  <div class="card-holder p-top-l p-bottom-l p-sides-s">
    <% @item_season_produces.find_each do |produce| %>
      <div class="card">
        <div class="card-inner">
          <h4 class="produce-name"><%= link_to I18n.t("produce_items.names.#{produce.name}"), produce, class: "link_action"  %></h4>
        </div>
          <div class="produce-category"><%= I18n.t("produce_items.categories.#{produce.category}") %></div>
      </div>
    <% end %>
  </div>

</div>
