<h1 class="page__title"> <%= formatted_month_name(@item_season.month_index).capitalize %> </h1>

<table class="produce-table">
  <% @produce_item.find_each do |produce| %>
    <tr>
        <td class="produce-table__name"><%= I18n.t("produce_items.names.#{produce.produce_item.name}").capitalize %></td>
        <td class="produce-table__category"><%= I18n.t("produce_items.categories.#{produce.produce_item.category}") %></td>
        <td class="produce-table__link_action"><%= link_to I18n.t('action.show'), produce.produce_item, class: "link_action" %></td>
    </tr>
  <% end %>
</table>

<%= link_to I18n.t("action.back"), :back, class: "link_action" %>
