<div class="content background-color-blue">
  <h1 class="page__title banner-small m-bottom-m"> <%= formatted_month_name(@item_season.month_index).capitalize %> </h1>

  <div class="links p-sides-m">
    <h4><%= link_to I18n.t("action.back").upcase, :back, class: "link_action back" %></h4>
    <div class="months-nav">
      <h4><%= link_to "Mês anterior", "#{@item_season.month_index - 1}", class: "link_action back" %></h4>
      <h4><%= link_to "Mês seguinte", "#{@item_season.month_index + 1}", class: "link_action back" %></h4>
    </div>
  </div>

  <div class="card-holder p-top-l p-bottom-l p-sides-s">
    <% @item_season_produces.find_each do |produce| %>
      <div class="card">
        <div class="card-inner">
          <h4 class="produce-name"><%= link_to I18n.t("produce_items.names.#{produce.name}"), produce, class: "link_action"  %></h4>
        </div>
          <div class="produce-category"><%= I18n.t("produce_items.categories.#{produce.category}") %></div>
      </div>
    <% end %>
  </div>

</div>
